.section{
      background:white;
      padding:20px;
      border-radius:18px;
      box-shadow:0 4px 10px rgba(0,0,0,0.08);
      margin-bottom:25px;
    }

    .section-header{
      display:flex;
      justify-content:space-between;
      align-items:center;
      margin-bottom:20px;
    }

    .section-header h2{
      font-size:24px;
    }

    .section-header button{
      padding:10px 16px;
      border:none;
      border-radius:10px;
      background:#16a34a;
      color:white;
      cursor:pointer;
    }

    table{
      width:100%;
      border-collapse:collapse;
    }

    table th{
      background:#f1f5f9;
      padding:14px;
      text-align:left;
    }

    table td{
      padding:14px;
      border-bottom:1px solid #ddd;
    }
     .status{
      padding:6px 12px;
      border-radius:20px;
      color:white;
      font-size:13px;
      font-weight:bold;
    }

    .active{
      background:#16a34a;
    }

    .transit{
      background:#f59e0b;
    }

    .available{
      background:#2563eb;
    }